.main-heading {
    text-align: left;
    margin-top: 20px;
    color: #333;
    font-size: 36px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: white;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 10px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

nav ul li a:hover {
    color: aqua;
}

section {
    padding: 40px;
    text-align: center;
}

#home {
    background-color: #f4f4f4;
}

#about {
    background-color: #e2e2e2;
}

#contact {
    background-color: #c0c0c0;
    box-sizing: border-box;
    
}
